<html>
  <head>
    <script
      src="https://unpkg.com/htmx.org@1.9.4"
      integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
  </head>
  <body>
    <h1>Create a new Vote!</h1>

    <main>
      <form hx-boost="true">
        <section>
          <label for="title">Title</label>
          <input type="text" id="title" name="title" value="" />
        </section>
        <section>
          <input type="hidden" name="choices" value="" />
          <ul
            id="choice-list"
            _="
              on change or input
                set @value of target to value of target
                set values to value of .choice
                js return '\x1f' end
                call values.join(beep! it) then set @value of <input[name='choices']/> to it"
          >
            <li>
              <input type="text" class="choice" value="" />
            </li>
          </ul>
          <button
            type="button"
            _="
              on click
                get #new-choice-template then put its innerHTML at the end of #choice-list
                send added to #max-choices"
          >
            Add choice
          </button>
        </section>
        <section>
          <label for="max-choices">Max. choices</label>
          <input
            type="number"
            id="max-choices"
            name="max-choices"
            value="1"
            min="1"
            _="
              def choiceCount()
                return length of <input/> in #choice-list
              end
              init set my value to choiceCount() end
              on input set :manual to true end
              on added or removed
                set @max to choiceCount()
              end
              on added
                if :manual then exit end
                increment my value
              end
              on removed
                if choiceCount() >= my value then exit end
                decrement my value
              end"
          />

          <label for="anonymous">Anonymous?</label>
          <input type="checkbox" id="anonymous" name="anonymous" value="true" />

          <label for="password">Password?</label>
          <input type="text" id="password" name="password" value="" />

          <button
            type="button"
            hx-post="/new?redirect=ballot"
            hx-headers='{ "Location": "ballot" }'
          >
            Start
          </button>
          <button
            type="button"
            hx-post="/new?redirect=results"
            hx-headers='{ "Location": "results" }'
          >
            Results
          </button>
        </section>
      </form>
    </main>
    <template id="new-choice-template">
      <li>
        <input type="text" class="choice" />
        <button
          type="button"
          _="on click remove closest <li/> then send removed to #max-choices"
        >
          Remove
        </button>
      </li>
    </template>
  </body>
</html>
