<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
  </head>
  <body>
    <h1>{{ title }}</h1>

    <table id="ballot" _="on change trigger update on #ranking">
      <thead>
        <tr>
          <th rowspan="2">Choice</th>
          <th colspan="4">Rank</th>
        </tr>
        <tr>
          {% for rank in 1..=max_choices %}
          <th _="init immediately put ordinalize({{ rank }}) into me">
            {{ rank }}
          </th>
          {% endfor %}
          <th>None</th>
        </tr>
      </thead>
      <tbody>
        {% for choice in choices %} {% let i = loop.index0 %}
        <tr
          choice="{{ i }}"
          ranked="0"
          _="
            init
              repeat in <input/> in me
                if @ranked == it@rank
                  set it.checked to true
                  -- trigger change
                  break
                end
              end
            end
            on change set @ranked to target@rank
              if @ranked == 0 then exit end
              repeat in <tr/> in closest <tbody/> index i
                if it is me continue end
                if it@ranked != @ranked then continue end
                send unrank to it
              end
            end
            on unrank set @ranked to 0 then set (last of <input/> in me).checked to true"
        >
          <td>{{ choice }}</td>
          {% for rank in 1..=max_choices %}
          <td>
            <input type="radio" name="choice-{{ i }}" rank="{{ rank }}" />
          </td>
          {% endfor %}
          <td>
            <input type="radio" name="choice-{{ i }}" rank="0" checked />
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action="rank" method="post">
      <input
        type="hidden"
        name="ranking"
        id="ranking"
        _="
          on update
            set rankings to {}
            repeat in <tr/> in <tbody/> in #ballot
              set rankings[it@choice] to Number(it@ranked)
            end
            set my value to beep! JSON.stringify(beep! rankings)
          init trigger update"
      />

      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="" required />
      <button>Submit</button>
    </form>

    <script type="text/hyperscript">
      def ordinalize(n)
        return `${n}${getSuffix(n)}`
      end

      def getSuffix(n)
        set suffixes to ["th", "st", "nd", "rd"]

        if n <= 3 then return suffixes[n]
        if n <= 20 then return suffixes[0]

        set lastDigit to n mod 10
        if lastDigit <= 3 then return suffixes[lastDigit]

        return suffixes[0]
      end
    </script>
  </body>
</html>
